# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local app data
uploads/*
!uploads/.gitkeep

data/*.db
data/*.sqlite
data/*.sqlite3
!data/.gitkeep

# Logs
*.log

# Optional secrets
.env