# Default ignored files
/../../Cafe_sales_system /.idea/shelf/
/../../Cafe_sales_system /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Cafe_sales_system /.idea/httpRequests/
# Datasource local storage ignored files
/../../Cafe_sales_system /.idea/dataSources/
/../../Cafe_sales_system /.idea/dataSources.local.xml
